:root {
    --fundo: #f8f8fa;
    --bola: #b10000;
    --fonte: 'Poppins', sans-serif;
    --cordata: #535355;
    --botao: #640d14;
}

.page{
    display: flex;
    background-color: var(--fundo);
    min-height: 100vh; 
    width: 100%; 
}

.tituloPrincipal h1{
    font-family: var(--fonte);
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
}


.conteudoPrincipal{
    display: flex;
    padding: 16px;
}
.chamados{
    margin-right: 20px;
    align-items: center;
    justify-content: center;
}

.chamados button{
    border: none;
    background-color: var(--fundo);
    color: var(--botao);
    font-weight: bold;
    font-family: var(--fonte);
    font-size: 18px;
}

.todos{
    background-color: white;
    width: 95%;
    height: 95%;
    border-radius: 20px;
}

